.masthead {
   height: 100vh;
   min-height: 500px;
   color: white;
   /* background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080'); */
   background-size: cover;
   background-color: rgb(38, 41, 211);
   background-position: center;
   background-repeat: no-repeat;
 }