<div class="container-fluid">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <br><br><br>
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;">
              
              Overzicht <span class="sr-only">(current)</span>
            </a>
          </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Pagina's</span>
          <a class="d-flex align-items-center text-muted" href="javascript:;">
            
          </a>
        </h6>
        <ul class="nav flex-column mb-2">


          <li class="nav-item">
            <a class="nav-link" href="javascript:;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-file-text">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>
              Landingspagina
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="javascript:;">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-file-text">
                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>
              Contact
            </a>
          </li>





        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="chartjs-size-monitor"
        style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand"
          style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink"
          style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
          <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
      </div>
      <br><br>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <!-- <div class="btn-toolbar mb-2 mb-md-0">
             <div class="btn-group mr-2">
               <button class="btn btn-sm btn-outline-secondary">Share</but<ton>
               <button class="btn btn-sm btn-outline-secondary">Export</button>
             </div>
             <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
               This week
             </button>
           </div> -->
      </div><br><br>

      <!-- <div (click)="buttonPostCallTest()" class="btn btn-primary">TestPOST</div> -->


      <h2>Onderdeel titel</h2>

      <!-- <br><button (click)="checkDataWysig()" class="btn btn-outline-secondary">Log</button>
         <br><br>
         <ckeditor [editor]="Editor" [(ngModel)]="model.editorData" ></ckeditor> -->

      <!-- // TINYMCE EDITOR -->
      <app-wysig [elementId]="'elementid'" [(prefill)]="currentWysigHtml"
      (onEditorKeyup)="keyupHandlerFunction($event)" (carretPosition)="giveRangeBack($event)">
    </app-wysig>







      <!-- <div class="calll">
        <br><br>
        <div class="row text-center">
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Vorige
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Vandaag
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Volgende
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h3>PLANNER</h3>
          </div>
          <div class="col-md-4">
            <div class="btn-group">
              <div class="btn btn-primary" [class.active]="view === 'month'" (click)="viewCalendarKind('month')">

                Maand
              </div>
              <div class="btn btn-primary" [class.active]="view === 'week'" (click)="viewCalendarKind('week')">

                Week
              </div>
              <div class="btn btn-primary" (click)="viewCalendarKind('day')" [class.active]="view === 'day'">
                Dag
              </div>
            </div>
          </div>
        </div>
        <br>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale"
            [activeDayIsOpen]="true">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [locale]="locale" [events]="events">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [locale]="locale" [events]="events">
          </mwl-calendar-day-view>
        </div>
        <br><br>
      </div> -->










    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
   ================================================== -->
<br><br><br>
